In [1]:
import requests

In [2]:
#making requsts
req=requests.get("https://gorest.co.in/public-api/users?_format=json&access-token=H4lYmIGLXZkDlpy_w0ZVS5rgcpDXbN7fhRRy")
#convert to json 
data=req.json()

In [3]:
data

{'code': 200,
 'meta': {'pagination': {'total': 2115, 'pages': 106, 'page': 1, 'limit': 20}},
 'data': [{'id': 44087,
   'name': 'wsrm1',
   'email': 'ncxkb@ky1us.com',
   'gender': 'male',
   'status': 'active'},
  {'id': 24037,
   'name': 'Catarina Nina Moraes',
   'email': 'catarinaninamoraes171@autvale.com',
   'gender': 'female',
   'status': 'active'},
  {'id': 52330,
   'name': 'Ramiro Carroll',
   'email': 'Brian.Gibson@gmail.com',
   'gender': 'female',
   'status': 'active'},
  {'id': 31703,
   'name': 'Nuria Padrosa',
   'email': 'nuripadrosa@student.es',
   'gender': 'female',
   'status': 'active'},
  {'id': 29214,
   'name': 'feres',
   'email': 'feres@gmail.com',
   'gender': 'male',
   'status': 'inactive'},
  {'id': 23759,
   'name': 'Homer J Simpson',
   'email': 'demo@test.com',
   'gender': 'male',
   'status': 'inactive'},
  {'id': 8,
   'name': 'Sharda Reddy',
   'email': 'reddy_sharda@muller.name',
   'gender': 'female',
   'status': 'active'},
  {'id': 26499,
   'name': 'Supriya',
   'email': 's123@gmail.com',
   'gender': 'female',
   'status': 'inactive'},
  {'id': 43264,
   'name': 'xyz',
   'email': 'xyz@jik1th.com',
   'gender': 'female',
   'status': 'active'},
  {'id': 61,
   'name': 'kishor kunte',
   'email': 'kuntekishor12@yahoo.com',
   'gender': 'female',
   'status': 'inactive'},
  {'id': 9184,
   'name': 'Viniculous Vicus',
   'email': 'testandoteste@Vicus.com',
   'gender': 'male',
   'status': 'active'},
  {'id': 303,
   'name': 'Himanth Kumar',
   'email': 'trivedi_girja@rodriguez-turner.io',
   'gender': 'female',
   'status': 'active'},
  {'id': 22,
   'name': 'Pushti Shukla',
   'email': 'shukla_pushti@dickens.co',
   'gender': 'female',
   'status': 'active'},
  {'id': 62,
   'name': 'Harinarayan Asan',
   'email': 'harinarayan_asan@legros-bednar.io',
   'gender': 'female',
   'status': 'active'},
  {'id': 29,
   'name': 'Ghanshyam Mukhopadhyay',
   'email': 'mukhopadhyay_ghanshyam@kub-monahan.org',
   'gender': 'male',
   'status': 'active'},
  {'id': 30,
   'name': 'Pushti Talwar',
   'email': 'talwar_pushti@gibson.name',
   'gender': 'male',
   'status': 'inactive'},
  {'id': 63,
   'name': 'Uttam Dubashi DC',
   'email': 'uttam_dubashi_dc@kshlerin.org',
   'gender': 'male',
   'status': 'active'},
  {'id': 32,
   'name': 'Heema Kaul Ret.',
   'email': 'ret_kaul_heema@veum-mccullough.co',
   'gender': 'male',
   'status': 'active'},
  {'id': 34,
   'name': 'Kanishka Mahajan',
   'email': 'mahajan_kanishka@rau.biz',
   'gender': 'male',
   'status': 'inactive'},
  {'id': 35,
   'name': 'Giriraaj Mukhopadhyay',
   'email': 'mukhopadhyay_giriraaj@hettinger.com',
   'gender': 'female',
   'status': 'active'}]}

In [4]:
import csv

In [7]:

#creat csv file
with open ('user data.csv','w',newline='') as f:
    #create writer and set tabel head named
    writer=csv.DictWriter(f,fieldnames=['id','name','email','gender','status'])
    writer.writeheader()
    #loop and asign each daata to specific varible
    for user in data['data']:
        id=user['id']
        name=user['name']
        email=user['email']
        gender=user['gender']
        if user['status']=='inactive':
            status=0
        else: status=1
        writer.writerow({'id': id,'name':name,'email':email,'gender':gender,'status':status})

In [9]:
import pandas as pd
#displaying data frame

df=pd.read_csv("user data.csv")
df

,id,name,email,gender,status
0,44087,wsrm1,ncxkb@ky1us.com,male,1
1,24037,Catarina Nina Moraes,catarinaninamoraes171@autvale.com,female,1
2,52330,Ramiro Carroll,Brian.Gibson@gmail.com,female,1
3,31703,Nuria Padrosa,nuripadrosa@student.es,female,1
4,29214,feres,feres@gmail.com,male,0
5,23759,Homer J Simpson,demo@test.com,male,0
6,8,Sharda Reddy,reddy_sharda@muller.name,female,1
7,26499,Supriya,s123@gmail.com,female,0
8,43264,xyz,xyz@jik1th.com,female,1
9,61,kishor kunte,kuntekishor12@yahoo.com,female,0
10,9184,Viniculous Vicus,testandoteste@Vicus.com,male,1
11,303,Himanth Kumar,trivedi_girja@rodriguez-turner.io,female,1
12,22,Pushti Shukla,shukla_pushti@dickens.co,female,1
13,62,Harinarayan Asan,harinarayan_asan@legros-bednar.io,female,1
14,29,Ghanshyam Mukhopadhyay,mukhopadhyay_ghanshyam@kub-monahan.org,male,1
15,30,Pushti Talwar,talwar_pushti@gibson.name,male,0
16,63,Uttam Dubashi DC,uttam_dubashi_dc@kshlerin.org,male,1
17,32,Heema Kaul Ret.,ret_kaul_heema@veum-mccullough.co,male,1
18,34,Kanishka Mahajan,mahajan_kanishka@rau.biz,male,0
19,35,Giriraaj Mukhopadhyay,mukhopadhyay_giriraaj@hettinger.com,female,1